@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Welcome to GeorgesChat</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Create yout profile and enjoy. Find new friends.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  class="btn btn-primary btn-lg px-4 gap-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-outline-secondary btn-lg px-4" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
</div>
