@model ChatViewModel
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card chat-app">
				<div id="plist" class="people-list">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-search"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Search...">
					</div>
					@await Component.InvokeAsync("ListUsers")
				</div>
					<partial name="_ChatPartial" model="Model" />
			</div>
		</div>
	</div>
</div>
@section Styles{
	<link rel="stylesheet" href="~/css/contentChat.css" />
}

<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>
